h1 {
  text-align: center;
}
header {
  background-color:lightblue;
}
body {
  margin:0;
  padding:0;
  overflow: hidden;
  /*width:900px;
  margin: auto;*/
}
.container {
  margin: auto;
  width:1030px;
}
.buttonShape {
  border: 1px solid;
  border-radius: 360px;
  height:100px;
  width:100px;
}
section {
  width:300px;
  float: left;
  height:100vh;
  margin: 20px;
  text-align: center;
  /*padding-top: 33vh;*/
  /*vertical-align: middle;*/
}
#increment {
  background-color:cyan;
}
#click {
  background-color: lightgreen;
  padding-top: 33vh;
}
#autoclick {
  background-color:skyblue;
}
.secHead {
  width:100%;
  height:33vh;
  font-size: 25px;
  padding-top: 10px;
}
